@* Coltin Barney Assignment 3 1/27/2020 IS 413 Section 1
    Title and picture is included here
*@
@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div>
    <p>Welcome to my film collection</p>
    <img src="~/JoelHilton.jpg" width="800"/>
</div>




